@import "variables";

body {
    margin: 0; 
}

img {
    max-width: 100%;
}

ul {
    @include reset-list;
}

a {
    @include reset-link;
}

a:hover {
    text-decoration: underline;
    font-weight: 600;
}

address {
    font-style: normal;
}

figure,
p {
    margin: 0;
}