@import "variables";

body {
    margin: 0; 
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #333333;
}

img {
    max-width: 100%;
}

ul {
    @include reset-list;
}

a {
    @include reset-link;
}

a:hover {
    text-decoration: underline;
    font-weight: 600;
}

address {
    font-style: normal;
}

figure,
p {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}