@import "variables";


.footer {
    background-color: #100E1D;
    color: #fff;
    padding-top: 36px;
    padding-bottom: 45px;

    .container {
        padding: 0 41px;

        @media (min-width: $desktop_breakpoint) {
            @include flex-row-layout;
            flex-wrap: wrap;
            align-items: flex-start;
            padding: 0;
        }
    }

    &__pagination {
        padding-bottom: 64px;


        &__list {
            a {
                font-weight: 400;
                font-size: 18px;
            }
        }

        @media (min-width: $desktop_breakpoint) {
            padding: 0;
        }
    }

    &__contact {
        padding-bottom: 65px;

        &__owner {
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            font-weight: 800;
            font-size: 36px;
            color: #F2F2F2;
            padding-bottom: 8px;
        }

        &__list {
            @include flex-row-layout;
            max-width: 100px;

            &__item {
                @include hide-text;

                &__link {
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 100px;
                    height: 25px;
                }

                &--instagram {
                    background-image: url("../assets/instagram.svg");
                }
                &--linkedin {
                    background-image: url("../assets/linkedin.svg");
                }
                &--twitter {
                    background-image: url("../assets/twitter.svg");
                }
            }
        }
    }


    &__devchallenge {
        font-family: "Montserrat",Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #A9A9A9;
        padding-top: 130px;
        text-align: center;

        @media (min-width: $desktop_breakpoint) {
            flex-basis: 100%;
            padding-top: 113px;
        }
    }

    @media (min-width: $desktop_breakpoint) {
        padding-top: 46px;
        padding-bottom: 20px;
    }
}