@import "variables";

.hero__recommendation {

    &__question {
        --font-size: 18px;
        font-size: var(--font-size);
        color: #828282;
    }

    &__join {
        --font-size: 14px;
        padding-bottom: 4px;
        padding-left: 10px;
        border: 0;
        background-color: #F2F2F2;
        border-radius: 12px;

        input {
            font-size: var(--font-size);
            width: 60%;
            padding-left: 11px;
            padding: 11px 0;
            border: 0;
            background-color: #F2F2F2;

            &:focus {
                outline: none;
            }
        }
        button {
            font-size: var(--font-size);
            width: 37%;
            padding: 11px 27px;
            border-radius: 12px;
            background-color: #2D9CDB;
            color: white;
            border: none;
        }
    }
}