@import "variables";

.header {
    padding-left: 10px;
    padding-top: 13px;
    @include flex-row-layout;

    @media (min-width: $desktop_breakpoint) {
        padding-left: 52px;
        padding-right: 56px;
        padding-top: 51px;
    }

    &__heading {
        --font-size: 24px;
        font-size: var(--font-size);
        margin: 0;
        font-family: "Heebo", Arial, Helvetica, sans-serif;
        font-weight: 800;
    
        @media (min-width: $desktop_breakpoint) {
            --font-size: 36px;
        }
    }

    &__navigation {
        background-color: #f8f8f8;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        bottom: 0;
        box-shadow: 0 0 50px rgba(0,0,0,.5);
        transform: translateX(-200%);
        transition: transform 0.2s;
        width: 70%;
        padding: 2rem;
        
        @media (min-width: $desktop_breakpoint) {
            position: initial;
            padding: 0;
            background-color: transparent;
            box-shadow: none;
            transform: none;
            transition: none;
            max-width: 50%;

            &__list {
                @include flex-row-layout;
            }
        }
        &__list__item {
            --font-size: 18px;
            font-size: var(--font-size);
            font-weight: 500;
            color: #333333;
            padding-bottom: 1rem;

            @media (min-width: $desktop_breakpoint) {
                --font-size: 24px;
            }
        }
    }
}

// *********** Menu checkbox ***********\\

.menu {
    background-image: url("../assets/menu.svg");
    background-repeat: no-repeat;
    background-size: var(--font-size);
    color: transparent;
    margin-right: -100px;

    @media (min-width: $desktop_breakpoint) {
        display: none;
    }
}

body > [type="checkbox"] {
    display: none;
}

body > [type="checkbox"]:checked ~ header .header__navigation {
    transform: translateX(0);
}

body > label {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0;
    transition: opacity 1s;
    background-color: rgba(0,0,0,.25);
  
    @media (min-width: $desktop_breakpoint) {
      display: none;
    }
}

body > [type="checkbox"]:checked ~ main {
    z-index: 1;
} 
  
  body > [type="checkbox"]:checked ~ label {
    z-index: 2;
    opacity: 1;
}

