@import "variables";

.masthead {
    --font-size: 24px;
    --padding-inline: 40px;
    padding-top: 67px;
    padding-bottom: 102px;

    &__wrapper {
        @include flex-column-reverse;
        padding: 0 var(--padding-inline);

        @media (min-width: $desktop_breakpoint) {
            --padding-inline: 277px;
        }
    }

    &__heading {
        font-size: var(--font-size);
        margin: 0;
        padding-bottom: 15px;
        padding-top: 10px;
        font-weight: 500;
    }

    &__content {
        --font-size: 12px;
        font-size: var(--font-size);
        color: #2D9CDB;
        font-weight: 500;
    }

    &__image { 
        padding-left: 10px;
        
        img {
            border-radius: 18px;
            width: 95%;
        }
        @media (min-width: $desktop_breakpoint) {
            padding-left: 52px;
        }
    }

    &__hero {
        padding: 0 var(--padding-inline);

        @media (min-width: $desktop_breakpoint) {
            --padding-inline: 277px;
            max-width: 366px;
        }

        &__heading {
            --font-size: 24px;
            max-width: 227px;
            font-size: var(--font-size);
            font-weight: 500;
            margin: 0;
            padding-top: 22px;
            padding-bottom: 33px;

            @media (min-width: $desktop_breakpoint) {
                --font-size: 48px;
                max-width: unset;
            }
        }

        &__information {
            --font-size: 12px;
            font-size: var(--font-size);
            color: #4F4F4F;
            padding-bottom: 31px;
            max-width: 275px;
            font-weight: 400;

            @media (min-width: $desktop_breakpoint) {
                --font-size: 18px;
                max-width: unset;
            }
        }

    }
}
