@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin reset-link {
    text-decoration: none;
    color: currentColor;
}

@mixin flex-row-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}